body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
